/* Room.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2dfff;
  padding-left: 20px;
  padding-right: 20px;
}

span {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}

.video-call-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vid {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 80%;
}

.user-name {
  font-family: "DM Sans", sans-serif;
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px #000000;
}

@media screen and (max-width: 600px) {
  .video-call-container {
    flex-direction: column;
  }
  .room {
    height: 100%;
  }
  button {
    font-size: 15px;
  }
}

.vid:hover .user-name {
  display: block;
}

button#call,
button#send {
  margin: 20px;
  padding: 10px 20px;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
}

.buttoncircle {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 50px; /* Makes the buttoncircle round */
  font-size: 30px;
  cursor: pointer;
  background-color: orange;
  color: white;
}

.disabled {
  opacity: 0.4;
  background-color: #979797 !important;
}
.disconnectButton {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 50px; /* Makes the buttoncircle round */
  font-size: 30px;
  cursor: pointer;
  color: white;
  background-color: red !important;
}
.chatButton {
  padding: 10px 20px;
  margin: 20px;
  margin-left: 20px;
  border: none;
  border-radius: 50px; /* Makes the buttoncircle round */
  font-size: 30px;
  cursor: pointer;
  background-color: orange;
  color: white;
}
/* Style for the compartment */
.compartment {
  position: fixed;
  top: 20px;
  border-radius: 20px;
  margin-right: 20px;
  right: -300px; /* Initially hidden on the right side */
  width: 300px;
  height: 80%;
  background-color: white;
  transition: right 0.3s ease-in-out; /* Smooth transition when opening/closing */
  z-index: 1;
  overflow-y: auto; /* Enable scrolling if content overflows */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2); /* Add a shadow on the left side */
}

/* Style for the chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(223, 176, 248);
}

/* Style for the chat messages */
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Style for the chat input field and send button */
.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

#messageInput {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
}

#sendButton {
  margin-left: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.self {
  background-color: #e8c5ff;
  padding: 2% 5%;
  border-radius: 10px;
  width: fit-content;
  
  box-shadow:2px 2px #631e92dd;
}
.remote {
  background-color: #c061ffdd;
  text-align: right;
  padding: 2% 5%;
  border-radius: 10px;
  align-self: flex-end;
  width: fit-content;
  box-shadow:2px 2px #520089dd;
}
.chutchat{
  padding-top: 10px;
  text-align: center;text-shadow: 3px 3px 0 var(#520089dd), 6px 6px 0 #e8c5ff,
    9px 9px #e54, 12px 12px 0 #000000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite;
  letter-spacing: 0.2rem;
}

@keyframes shadows {
  
  10% {
    transform: translate(-2px, -2px);
    text-shadow: 3px 3px 0 var();
  }
  20% {
    transform: translate(-4px, -4px);
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff;
  }
  30% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff, 9px 9px #e54;
  }
  40% {
    transform: translate(-8px, -9px);
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff, 9px 9px #e54,
      12px 12px 0 #000000;
  }
  50% {
    transform: translate(-8px, -8px);
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff, 9px 9px #e54,
      12px 12px 0 #000000;
  }
  60% {
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff, 9px 9px #e54,
      12px 12px 0 #000000;
  }
  70% {
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff, 9px 9px #e54;
  }
  80% {
    text-shadow: 3px 3px 0 var(),
      6px 6px 0 #e8c5ff;
  }
  90% {
    text-shadow: 3px 3px 0 var();
  }
  100% {
    text-shadow: none;
  }
}
