/* Video call container */
.video-call-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 80%;
  background-color: #ffbaba;
}

/* Video screen for incoming video */
.incoming-video {
  flex: 1;
  max-width: 50%;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  background-color: aqua;
}

/* Video screen for outgoing video */
.outgoing-video {
  flex: 1;
  max-width: 50%;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  background-color: #f7f770;
}
.user-name {
  color:#fff;
  font-size: 1.5rem;
  position: absolute;
  bottom:0;
}
.vid {
  text-align: center;
  position: relative;
}