/* VideoCall.css */
.video-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #acd3fd;
}

.video-screen {
  width: 85%;
  height: 70%;
  background-color: #ffcdcd; 
  border-radius: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.control-button {
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.control-button.muted {
  background-color: #ffc107; /* Muted button color */
}

.control-button.paused {
  background-color: #ffc107; /* Paused button color */
}

.hang-up {
  background-color: #dc3545; /* Hang-up button color */
}

.stream-cont {
  display: flex;
}

.stream {
  border: 1px solid #007bff;
  margin: 5px;
}